ollama
langchain
langchain-community
langchain-ollama
groq
langchain-groq
sentence-transformers
chromadb
pypdf
rank-bm25
fastapi
uvicorn
pydantic
python-multipart
pandas
numpy
python-dotenv
tqdm
sqlalchemy
streamlit
requests
deep-translator
langdetect
pytest
httpx